<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="300" height="500" /> 
    
    
### <font color='navy'> Simulación de procesos financieros. 

**Nombres:** Dario Castro Gonzalez #1, Héctor Josúe Falomir Patrón #2, Larissa Gracian Camacho #3

**Fecha:** 07 de febrero 2024.

**Expediente** : 719910, 7530461, 737863

**Profesor:** Oscar David Jaramillo Zuluaga.
    
**Link Github**: https://github.com/kodharius/Tarea2LHD

# Tarea 2: Clase 5

# 1
Use filter to eliminate all words that are shorter than 4 letters from a list of words
`list='the notion of a lambda function goes all the way back to the origin of computer science'`

In [1]:
# Solucion Estudiante 1 
palabras = 'the notion of a lambda function goes all the way back to the origin of computer science'.split()
res = list(filter(lambda word: len(word) >= 4, palabras))
print(res)

['notion', 'lambda', 'function', 'goes', 'back', 'origin', 'computer', 'science']

In [14]:
# Solucion Estudiante 2
texto = 'the notion of a lambda function goes all the way back to the origin of computer science'
print(list(filter(lambda palabra: len(palabra) >= 4, texto.split(' '))))

['notion', 'lambda', 'function', 'goes', 'back', 'origin', 'computer', 'science']

In [2]:
# Solucion Estudiante 3

lista = 'the notion of a lambda function goes all the way back to the origin of computer science'.split()

filtered_lista = list(filter(lambda word: len(word) >= 4, lista))

filtered_lista

['notion',
 'lambda',
 'function',
 'goes',
 'back',
 'origin',
 'computer',
 'science']

# 2
Use filter to determine the percentage of Fahrenheit temperatures in a list are within the range 32 to 80

In [7]:
# Solucion Estudiante 1
# Solucionarlo usando la función filter
import numpy as np
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)
print(temperatures)

[ 35.97387961  99.13294268  92.6178302   99.69549478  63.21119535
  73.90387697  95.50028838  99.21476553  36.98251238 101.45813729
 100.5917418   89.38159435  89.52156589  83.8084752   28.37990868
  68.75395211  45.86132067  36.58307493  56.32208365  33.96219302
  45.29071318  74.86289938  66.51091383  88.19316186  94.26635864
  46.83131624 109.60744472 109.68427993  44.55796499  92.84146259]

In [14]:
# Usamos filtros para filtrar las temp deseadas
filtro_temps = list(filter(lambda x: 32 <= x <= 80, temperatures))

# Imprimimos las temp deseadas entre 32 a 80
print("Temperaturas entre 32 a 80: ", filtro_temps)

Temperaturas entre 32 a 80:  [35.97387961379455, 63.211195349983264, 73.90387696517755, 36.982512376595906, 68.75395211338406, 45.86132066984196, 36.58307493022292, 56.322083650154724, 33.9621930206693, 45.29071317816652, 74.86289938282341, 66.51091382521807, 46.831316244170544, 44.55796498523391]

In [21]:
# Solucion Estudiante 2

temperatures_range = list(filter(lambda temperatura: 32 <= temperatura <= 80, temperatures))
print(f'El porcentaje de temperaturas entre 32 y 80 F es de: {round(len(temperatures_range)/len(temperatures), 2)*100} %')

El porcentaje de temperaturas entre 32 y 80 F es de: 47.0 %

In [8]:
# Solucion Estudiante 3

# Solución filtro de vectores

filtered_temperatures = temperatures[(temperatures >= 32) & (temperatures <= 80)]

percentage_within_range = (len(filtered_temperatures) / len(temperatures)) * 100

print(f"Percentage of temperatures within the range 32 to 80: {percentage_within_range:.2f}%")

Percentage of temperatures within the range 32 to 80: 46.67%

# 3
Use reduce to find the lower left corner (minimum x and minimum y value) for a list of point locations
> **Hint**: Explore the command `np.minimum.reduce` [link](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ufunc.reduce.html)

In [10]:
# Solucion Estudiante 1
########### Solución 5
np.random.seed(55555) #semillas son para que siempre que randomizes datos te salgan los mismos randoms.
point_xy = np.random.randint(0,100,[30,2])
print(point_xy)

[[17 97]
 [22 33]
 [37 46]
 [57 28]
 [11 25]
 [14  2]
 [74 16]
 [12 37]
 [35 21]
 [66 65]
 [86 58]
 [67 81]
 [ 0 48]
 [28 66]
 [76 22]
 [46 47]
 [64  7]
 [88 94]
 [65 13]
 [75 89]
 [23 17]
 [36 63]
 [62 36]
 [64 17]
 [18 19]
 [88 41]
 [21 49]
 [98 36]
 [81 73]
 [62 90]]

In [61]:
from functools import reduce
lista2 = point_xy.tolist()

# Realiza la suma de los elementos de una lista
# f = reduce(lambda x, y: x if x>y else y, lista)
# Determinar el máximo de una lista de valores numéricos 
f = reduce(max, lista2)
print('El máximo valor de la lista es:',  f)
f3 = reduce(min, lista2)
print('El minimo valor de la lista es:',  f3)

El máximo valor de la lista es: [98, 36]
El minimo valor de la lista es: [0, 48]

In [75]:
# Solucion Estudiante 2
print(f'Máximo = {np.maximum.reduce(point_xy)}')
print(f'Minimo = {np.minimum.reduce(point_xy)}')

Máximo = [98 97]
Minimo = [0 2]

In [13]:
# Solucion Estudiante 3

lower_left_corner = np.minimum.reduce(point_xy)
upper_right_corner = np.maximum.reduce(point_xy)

print("\nLower Left Corner:")
print(lower_left_corner)
print("\nUpper Right Corner:")
print(upper_right_corner)

Lower Left Corner:
[0 2]

Upper Right Corner:
[98 97]

# 4
Find all of the numbers from 1-1000 that are divisible by 7

In [17]:
#Solucion estudiante 1
# Lista de números
number = np.arange(1,1001)
#usando la funcion filter
# Usamos filtros para filtrar las temp deseadas
filtro_number = list(filter(lambda x: x%7==0, number))

# Imprimimos las numeros divisibles
print("Numeros divisibles entre 7",filtro_number)

Numeros divisibles entre 7 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

In [79]:
#Solucion estudiante 2
[num for num in number if num % 7 == 0]

[7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98,
 105,
 112,
 119,
 126,
 133,
 140,
 147,
 154,
 161,
 168,
 175,
 182,
 189,
 196,
 203,
 210,
 217,
 224,
 231,
 238,
 245,
 252,
 259,
 266,
 273,
 280,
 287,
 294,
 301,
 308,
 315,
 322,
 329,
 336,
 343,
 350,
 357,
 364,
 371,
 378,
 385,
 392,
 399,
 406,
 413,
 420,
 427,
 434,
 441,
 448,
 455,
 462,
 469,
 476,
 483,
 490,
 497,
 504,
 511,
 518,
 525,
 532,
 539,
 546,
 553,
 560,
 567,
 574,
 581,
 588,
 595,
 602,
 609,
 616,
 623,
 630,
 637,
 644,
 651,
 658,
 665,
 672,
 679,
 686,
 693,
 700,
 707,
 714,
 721,
 728,
 735,
 742,
 749,
 756,
 763,
 770,
 777,
 784,
 791,
 798,
 805,
 812,
 819,
 826,
 833,
 840,
 847,
 854,
 861,
 868,
 875,
 882,
 889,
 896,
 903,
 910,
 917,
 924,
 931,
 938,
 945,
 952,
 959,
 966,
 973,
 980,
 987,
 994]

In [20]:
#Solucion estudiante 3

# Usando ciclo for tradicional
divisible_by_7 = []

for number in number:
    if number % 7 == 0:
        divisible_by_7.append(number)

print("Numbers from 1 to 1000 that are divisible by 7:")
print(divisible_by_7)

Numbers from 1 to 1000 that are divisible by 7:
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

# 5
Find all of the numbers from 1-1000 that have a 3 in them

In [35]:
#Solucion estudiante 1
#usando la funcion filter
#Utilizamos una funcion para determinar el 3
def tres(num):
    return '3' in str(num)

# Usamos filtros para filtrar las numeros deseados
filtro_number3 = list(filter(tres, number))

# Imprimimos las  numeros con 3
print("Numeros con tres",filtro_number3)

Numeros con tres [3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93, 103, 113, 123, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 143, 153, 163, 173, 183, 193, 203, 213, 223, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 243, 253, 263, 273, 283, 293, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 403, 413, 423, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 443, 453, 463, 473, 483, 493, 503, 513, 523, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 543, 553, 563, 573, 583, 593, 603, 613, 623, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 643, 653, 663, 673, 683, 693, 703, 713, 723, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 743, 753, 763, 773, 783, 793, 803, 813, 823, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 843, 853, 863, 873, 883, 893, 903, 913, 923, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 943, 953, 963, 973, 983, 993]

In [80]:
#Solucion estudiante 2
[num for num in number if '3' in str(num)]

[3,
 13,
 23,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 43,
 53,
 63,
 73,
 83,
 93,
 103,
 113,
 123,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 143,
 153,
 163,
 173,
 183,
 193,
 203,
 213,
 223,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 243,
 253,
 263,
 273,
 283,
 293,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 403,
 413,
 423,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 443,
 453,
 463,
 473,
 483,
 493,
 503,
 513,
 523,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 543,
 553,
 563,
 573,
 583,
 593,
 603,
 613,
 623,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 643,
 653,
 663,
 673,
 683,
 693,
 703,
 713,
 723,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 743,
 753,
 763,
 773,
 783,
 793,
 803,
 813,
 823,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 843,
 853,
 863,
 873,
 883,
 893,
 903,
 913,
 923,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 943,
 953,
 963,
 973,
 983,
 993]

In [24]:
#Solucion estudiante 3
numbers_with_3 = []

for number in range(1, 1001):
    if '3' in str(number):
        numbers_with_3.append(number)

print(numbers_with_3)

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93, 103, 113, 123, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 143, 153, 163, 173, 183, 193, 203, 213, 223, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 243, 253, 263, 273, 283, 293, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 403, 413, 423, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 443, 453, 463, 473, 483, 493, 503, 513, 523, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 543, 553, 563, 573, 583, 593, 603, 613, 623, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 643, 653, 663, 673, 683, 693, 703, 713, 723, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 743, 753, 763, 773, 783, 793, 803, 813, 823, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 843, 853, 863, 873, 883, 893, 903, 913, 923, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 943, 953, 963, 973, 983, 993]

# 6
Imagine una rutina contable utilizada en una librería. Funciona en una lista con sublistas, que se ven así:
![imagen.png](attachment:imagen.png)
Escriba un programa en Python, que devuelve una lista con tuplas de tamaño 2. Cada tupla consiste en el número de pedido y el costo total del pedido. El producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €. 
Escribe un programa Python usando unicamente las funciones **lambda y map**.

In [26]:
#Solucion estudiante 1
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]
orders

[['34587', 'Learning Python, Mark Lutz', 4, 40.95],
 ['98762', 'Programming Python, Mark Lutz', 5, 56.8],
 ['77226', 'Head First Python, Paul Barry', 3, 32.95],
 ['88112', 'Einführung in Python3, Bernd Klein', 3, 24.99]]

In [41]:
import pandas as pd

orders = [["34587", "Learning Python, Mark Lutz", 4, 40.95], 
          ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
          ["77226", "Head First Python, Paul Barry", 3, 32.95], 
          ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

df = pd.DataFrame(orders, columns=['order_number', 'item', 'quantity', 'price'])
df['total_price'] = df['quantity'] * df['price']
df['total_price'] = df['total_price'].apply(lambda x: x + 10 if x < 100 else x)
df = df[['order_number', 'total_price']]
result = df.values.tolist()
print(result)

[['34587', 163.8], ['98762', 284.0], ['77226', 108.85000000000001], ['88112', 84.97]]

In [44]:
# Creando una función que incremente en 10 euros si el pedido es menor a 100
total_cost = lambda x: x[2] * x[3] + 10 if x[2] * x[3] < 100 else x[2] * x[3]
result2 = list(map(lambda x: (x[0], total_cost(x)), orders))
print(result2)

[('34587', 163.8), ('98762', 284.0), ('77226', 108.85000000000001), ('88112', 84.97)]

In [82]:
#Solucion estudiante 2
calculate_total = lambda order: (order[0], order[2] * order[3] if order[2] * order[3] >= 100 else order[2] * order[3] + 10)
list(map(calculate_total, orders))

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

In [27]:
#Solucion estudiante 3
result = list(map(lambda x: (x[0], x[2] * x[3] + 10 if x[2] * x[3] < 100 else x[2] * x[3]), orders))

print(result)

[('34587', 163.8), ('98762', 284.0), ('77226', 108.85000000000001), ('88112', 84.97)]

# 7
La misma librería, pero esta vez trabajamos en una lista diferente. Las sublistas de nuestras listas se ven así: 
[número de orden, (número de artículo, cantidad, precio por unidad), ... (número de artículo, cantidad, precio por unidad)] 

`orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
	       [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
	       [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]`

Escriba un programa que devuelva una lista de dos tuplas que tengan la información de (número de orden, cantidad total de pedido). Nuevamente, tenga en cuenta que si el pedido debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €.  Utilice la función `Reduce`.

In [29]:
########### Solución estudiante 1
orders2 = [ [1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
           [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
           [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]
orders2

[[1, ('5464', 4, 9.99), ('8274', 18, 12.99), ('9744', 9, 44.95)],
 [2, ('5464', 9, 9.99), ('9744', 9, 44.95)],
 [3, ('5464', 9, 9.99), ('88112', 11, 24.99)],
 [4, ('8732', 7, 11.99), ('7733', 11, 18.99), ('88112', 5, 39.95)]]

In [50]:
resultado = []
for order in orders2:
    total = reduce(lambda x, y: x + y[1] * y[2], order[1:], 0)
    if total < 100:
        total += 10
    resultado.append([order[0], total])

print(resultado)

[[1, 678.3299999999999], [2, 494.46000000000004], [3, 364.79999999999995], [4, 492.57]]

In [86]:
# Solución estudiante 2

def calculate_order_total(order):
    order_number = order[0]
    items = order[1:]
    total_cost = reduce(lambda total, item: total + item[1] * item[2], items, 0)
    return (order_number, total_cost if total_cost >= 100 else total_cost + 10)

list(map(calculate_order_total, orders2))

[(1, 678.3299999999999),
 (2, 494.46000000000004),
 (3, 364.79999999999995),
 (4, 492.57)]

In [31]:
# Solución estudiante 3

def calculate_order_total(order):
    total = 0
    for item in order[1:]:
        total += item[1] * item[2]
    
    return (order[0], total + 10 if total < 100 else total)

result = list(map(calculate_order_total, orders2))

print(result)

[(1, 678.3299999999999), (2, 494.46000000000004), (3, 364.79999999999995), (4, 492.57)]